body {
    text-align: center;
    background-color: aliceblue;
}

header {
    margin-top: 20px;
}

#logo {
    width: 150px;
}

header h1 {
    font-size: 14px;
    font-weight: 100;
    margin: 0;
}

main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.question {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}

.active-color-detractor {
    background-color: rgb(244, 151, 151);
}

.active-color-passive {
    background-color: rgb(232, 186, 99);
}

.active-color-promoter {
    background-color: rgb(57, 229, 57);
}

.nps-list .detractor, .nps-list .passive, .nps-list .promoter {
    font-size: 16px;
    display:flex;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin: 0;
    outline: none;
    border-radius: 100%;
    font-weight: 500;
    display: inline-block;
    border: 3px solid gray;
    width: 20px;
    height: 20px;
}

.nps-list .detractor:hover {
    background-color: red;
    color: white;
}

.nps-list .passive:hover {
    background-color: orange;
}

.nps-list .promoter:hover {
    background-color: green;
    color: white;
}

form {
    text-align: center;
}

.send-button {
    background-color: #accf38;
    border-radius: 5px;
    border: 1px solid darkgreen;
    color: black;
    padding: 5px;
    cursor: pointer;
    width: 120px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}